In [1]:
from hashlib import sha1
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
movie_df = pd.read_csv("data/movie_data.csv", lineterminator='\n')
sorted_movies_df = movie_df.sort_values(by=['vote_count'], ascending=False)
movie_df.shape

(285504, 19)

In [3]:
sorted_movies_df.head(3)

,_id,genres,image_url,imdb_id,imdb_link,movie_id,movie_title,original_language,overview,popularity,production_countries,release_date,runtime,spoken_languages,tmdb_id,tmdb_link,vote_average,vote_count,year_released
42247,5fc870ea6758f69634940263,"[""Action"",""Science Fiction"",""Adventure""]",sm/upload/sv/95/s9/4j/inception-0-230-0-345-crop,tt1375666,http://www.imdb.com/title/tt1375666/maindetails,inception,Inception,en,"Cobb, a skilled thief who commits corporate es...",116.222,"[""United Kingdom"",""United States of America""]",2010-07-15,148.0,"[""English"",""日本語""]",27205.0,https://www.themoviedb.org/movie/27205/,8.3,30211.0,2010.0
40583,5fc870ba6758f6963492ee7e,"[""Adventure"",""Drama"",""Science Fiction""]",film-poster/1/1/7/6/2/1/117621-interstellar-0-...,tt0816692,http://www.imdb.com/title/tt0816692/maindetails,interstellar,Interstellar,en,The adventures of a group of explorers who mak...,89.564,"[""United Kingdom"",""United States of America""]",2014-11-05,169.0,"[""English""]",157336.0,https://www.themoviedb.org/movie/157336/,8.3,27020.0,2014.0
82034,5fc875f86758f69634ae3423,"[""Drama"",""Action"",""Crime"",""Thriller""]",sm/upload/78/y5/zg/ej/oefdD26aey8GPdx7Rm45PNnc...,tt0468569,http://www.imdb.com/title/tt0468569/maindetails,the-dark-knight,The Dark Knight,en,Batman raises the stakes in his war on crime. ...,49.289,"[""United Kingdom"",""United States of America""]",2008-07-14,152.0,"[""English"",""普通话""]",155.0,https://www.themoviedb.org/movie/155/,8.5,26173.0,2008.0

In [4]:
# Get dataset metadata
print(sorted_movies_df['_id'].value_counts(dropna=False).shape)

(285504,)

In [5]:
# genres
cleaned_genres = sorted_movies_df['genres'].unique()
total_genres = []
for entry in cleaned_genres:
    entry_genres = str(entry)[1:-1].split(',')
    
    for genre in entry_genres:
        total_genres.append(genre)

print(set(total_genres))

# production countries
cleaned_prod_countries = sorted_movies_df['production_countries'].unique()
total_prod_countries = []
for entry in cleaned_prod_countries:
    prod_countries = str(entry)[1:-1].split(',')
    
    for country in prod_countries:
        total_prod_countries.append(country)

print(len(set(total_prod_countries)))

# spoken languages
cleaned_spoken_languages = sorted_movies_df['spoken_languages'].unique()
total_spoken_languages = []
for entry in cleaned_spoken_languages:
    spoken_languages = str(entry)[1:-1].split(',')
    
    for language in spoken_languages:
        total_spoken_languages.append(language)

print(len(set(total_spoken_languages)))

set(['', 'a', '"Music"', '"Adventure"', '"Crime"', '"Action"', '"Drama"', '"Mystery"', '"Comedy"', '"TV Movie"', '"Animation"', '"War"', '"Western"', '"Fantasy"', '"History"', '"Science Fiction"', '"Thriller"', '"Documentary"', '"Family"', '"Romance"', '"Horror"'])
248
82

In [6]:
print("Num image_url: " + str(sorted_movies_df['image_url'].value_counts(dropna=False).shape))
print("Num imdb_id: " + str(sorted_movies_df['imdb_id'].value_counts(dropna=False).shape))
print("Num imdb_link: " + str(sorted_movies_df['imdb_link'].value_counts(dropna=False).shape))
print("Num movie_id: " + str(sorted_movies_df['movie_id'].value_counts(dropna=False).shape))
print("Num movie_title: " + str(sorted_movies_df['movie_title'].value_counts(dropna=False).shape))
print("Num original_language: " + str(sorted_movies_df['original_language'].value_counts(dropna=False).shape))
print("Num overview: " + str(sorted_movies_df['overview'].value_counts(dropna=False).shape))
print("Num popularity: " + str(sorted_movies_df['popularity'].value_counts(dropna=False).shape))
print("Num production_countries: " + str(sorted_movies_df['production_countries'].value_counts(dropna=False).shape))
print("Num release_date: " + str(sorted_movies_df['release_date'].value_counts(dropna=False).shape))
print("Num runtime: " + str(sorted_movies_df['runtime'].value_counts(dropna=False).shape))
print("Num spoken_languages: " + str(sorted_movies_df['spoken_languages'].value_counts(dropna=False).shape))
print("Num tmdb_id: " + str(sorted_movies_df['tmdb_id'].value_counts(dropna=False).shape))
print("Num tmbdb_link: " + str(sorted_movies_df['tmdb_link'].value_counts(dropna=False).shape))
print("Num vote_average: " + str(sorted_movies_df['vote_average'].value_counts(dropna=False).shape))
print("Num vote_count: " + str(sorted_movies_df['vote_count'].value_counts(dropna=False).shape))
print("Num year_released: " + str(sorted_movies_df['year_released'].value_counts(dropna=False).shape))

Num image_url: (258035,)
Num imdb_id: (237341,)
Num imdb_link: (237341,)
Num movie_id: (285503,)
Num movie_title: (244168,)
Num original_language: (148,)
Num overview: (252495,)
Num popularity: (16814,)
Num production_countries: (6591,)
Num release_date: (36390,)
Num runtime: (452,)
Num spoken_languages: (4209,)
Num tmdb_id: (272991,)
Num tmbdb_link: (272991,)
Num vote_average: (97,)
Num vote_count: (3211,)
Num year_released: (150,)

In [7]:
from datetime import datetime
dates = []
for date_str in sorted_movies_df['release_date'].unique():
    if str(date_str) == "nan":
        print("do nothing")
    else:
        dates.append(datetime.strptime(str(date_str), "%Y-%m-%d").date())
print(min(dates))
print(max(dates))

do nothing
1874-12-09
2028-12-20

In [8]:
col = 'year_released'
print(min(sorted_movies_df[col].unique()))
print(max(sorted_movies_df[col].unique()))

1874.0
2028.0

In [9]:
ratings_df = pd.read_csv("data/ratings_export.csv", lineterminator='\n')
ratings_df.shape

(11078167, 4)

In [10]:
ratings_df.head(3)

                        _id          movie_id  rating_val     user_id
0  5fc57c5d6758f6963451a07f        feast-2014           7  deathproof
1  5fc57c5d6758f6963451a063       loving-2016           7  deathproof
2  5fc57c5d6758f6963451a0ef  scripted-content           7  deathproof

In [11]:
print("Num _id: " + str(ratings_df['_id'].value_counts(dropna=False).shape))
print("Num movie_id: " + str(ratings_df['movie_id'].value_counts(dropna=False).shape))
print("Num user_id: " + str(ratings_df['user_id'].value_counts(dropna=False).shape))
print("Num rating_val: " + str(ratings_df['rating_val'].value_counts(dropna=False).shape))

Num _id: (11078167,)
Num movie_id: (286071,)
Num user_id: (7477,)
Num rating_val: (10,)

In [12]:
print(min(ratings_df['rating_val'].unique()))
print(max(ratings_df['rating_val'].unique()))

1
10

In [13]:
users_df = pd.read_csv("data/users_export.csv")
users_df.shape

(8139, 5)

In [14]:
users_df.head(3)

,_id,display_name,num_ratings_pages,num_reviews,username
0,5fc4172ec6cd28ebd99dd0e2,Lucy,32.0,1650,deathproof
1,5fc4172ec6cd28ebd99dd0ea,Matt Singer,52.0,1915,superpulse
2,5fc4172ec6cd28ebd99dd0ed,Sean Baker,21.0,1283,lilfilm

In [15]:
print("Num _id: " + str(users_df['_id'].value_counts(dropna=False).shape))
print("Num display_name: " + str(users_df['display_name'].value_counts(dropna=False).shape))
print("Num num_ratings_pages: " + str(users_df['num_ratings_pages'].value_counts(dropna=False).shape))
print("Num num_reviews: " + str(users_df['num_reviews'].value_counts(dropna=False).shape))
print("Num username: " + str(users_df['username'].value_counts(dropna=False).shape))

Num _id: (8139,)
Num display_name: (7136,)
Num num_ratings_pages: (178,)
Num num_reviews: (2416,)
Num username: (8139,)

In [16]:
# users_df, movie_df, ratings_df

# process data
movie_cols = ['_id', 'movie_id']
irrelevant_movie_cols = ['imdb_id', 'imdb_link', 'tmdb_id', 'tmdb_link', 'image_url']

movie_df = movie_df.drop(labels=irrelevant_movie_cols, axis=1)
movie_df.dropna(subset=movie_cols, inplace=True)

# Get top n users
n = 100
top_users = users_df.sort_values(by=['num_reviews'], ascending=False).head(n)
top_users.rename(columns={'username': 'user_id'}, inplace=True)

# Get all ratings from top users
relevant_ratings = ratings_df[ratings_df['user_id'].isin(top_users['user_id'])]

# Get only movies that were rated by top users
rated_movies = relevant_ratings['movie_id'].unique()
relevant_movies = movie_df[movie_df['movie_id'].isin(rated_movies)]

# Get all runtimes for rated movies
relevant_ratings = relevant_ratings.merge(relevant_movies[['movie_id','runtime']], on=['movie_id'], how='left')
relevant_ratings['runtime'].fillna(0, inplace=True)
watchtimes = relevant_ratings.groupby('user_id', as_index=False).sum()

# Fill total watchtime for each user
top_users = top_users.merge(watchtimes[['user_id', 'runtime']], on=['user_id'], how='left')
top_users.rename(columns={'runtime': 'total_watchtime'}, inplace=True)

# Save to JSON
top_users.to_json(r'./data/users.json', orient='records')
relevant_movies.to_json(r'./data/movie_data.json', orient='records')
relevant_ratings.to_json(r'./data/ratings.json', orient='records')

print("Done")

Done